<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://use.fontawesome.com/1f348b8136.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<nav class="blue">
    <div class="nav-wrapper ">
        <a href="/" id="logo" class="brand-logo">Practica de Passport y localStrategy</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="https://github.com/ULL-ESIT-SYTW-1617/passport-y-localstrategy-aitor-joshua-samuel.git"><i class="fa fa-github-square"></i></a></li>
        </ul>
    </div>
</nav>

<body>
    <div class="container">
        <div class="row">
            <div class="col s3 m3"></div>
            <div class="col s6 m6">
                <div class="card light-blue">
                    <div class="card-content white-text">
                        <% if (!user) { %>
                            <span class="card-title">Inicio</span>
                                <p>¡Bienvenido! Por favor inicie sesión introduciendo su usuario y contraseña</p>
                                <div class="card-action">
                                    <a href="/login" class="waves-effect waves-light btn light-blue darken-2"><i class="fa fa-user-circle left"></i>Log In</a>
                                </div>
                        <% } else { %>
                                <span class="card-title">Perfil</span>
                                <p>Hola, <%= user.username %> Puedes consultar tu perfil </p>
                                <div class="card-action">
                                    <a href="/profile" class="waves-effect waves-light btn light-blue darken-2"><i class="fa fa-user-circle left" aria-hidden="true"></i>Profile</a>
                                </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col s3 m3"></div>
        </div>
    </div>




    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>

</html>
